<!doctype html>
<html lang="{{ site.active_lang }}">
  <!-- Head -->
  <head>
    {% if page.redirect %}
      {% if page.redirect == true %}
        {% assign redirect = site.baseurl | append: '/' %}
      {% elsif page.redirect contains '://' %}
        {% assign redirect = page.redirect %}
      {% else %}
        {% assign is_asset = page.redirect | startswith: '/assets/' %}
        {% if is_asset %}
          {% assign redirect = page.redirect | prepend: site.baseurl_root %}
        {% else %}
          {% assign redirect = page.redirect | prepend: site.baseurl %}
        {% endif %}
      {% endif %}
      <meta http-equiv="refresh" content="3; url={{ redirect }}">
    {% endif %}
    {% include head.liquid %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
    <!-- 横幅代码 -->
    <div class="banner-container">
      <div class="banner">
        <img src="{{ '/assets/img/banners/banner.png' | relative_url }}" alt="Banner Image">
      </div>
    </div>

    <style>
      .banner-container {
        width: 1280px; /* 与网站宽度一致 */
        margin: 0 auto; /* 水平居中 */
        position: relative; /* 相对定位 */
      }

      .banner {
        /* background-color: #ffffff;  正红色背景 */
        width: 100%; /* 横幅占满整个屏幕宽度 */
        height: 50px; /* 固定高度 */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        z-index: 1050;
        position: fixed;
        top: 0;
        /*left: 0;*/
      }

      .banner img {
        height: 100%; /* 图片高度为横幅高度 */
        width: auto; /* 宽度自动适应比例 */
      }

      /* 针对小屏设备的样式 */
      @media (max-width: 768px) {
        .banner img {
          width: 100%; /* 当屏幕宽度小于768px时，图片宽度100% */
          height: auto; /* 高度自动调整，保持图片比例 */
        }
      }

      #navbar {
      z-index: 1000; /* 导航栏的 z-index 设置比横幅低 */
      margin-top: 50px; /* 确保导航栏不会遮盖横幅 */
      }

    body {
      padding-top: 50px; /* 确保页面内容不会被横幅遮盖 */
    }
    </style>

    <!-- Header -->
    {% include header.liquid %}

    <!-- Content -->
    <div class="container mt-5" role="main">
      {% if page.toc and page.toc.sidebar %}
        {% if page.toc.sidebar == 'right' %}
          <div class="row">
            <!-- main content area -->
            <div class="col-sm-9">{{ content }}</div>
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
          </div>
        {% else %}
          <div class="row">
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
            <!-- main content area -->
            <div class="col-sm-9">{{ content }}</div>
          </div>
        {% endif %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>

    <!-- Footer -->
    {% include footer.liquid %}

    <!-- JavaScripts -->
    {% include scripts/jquery.liquid %}
    {% include scripts/bootstrap.liquid %}
    {% include scripts/masonry.liquid %}
    {% include scripts/mermaid.liquid %}
    {% include scripts/diff2html.liquid %}
    {% include scripts/leaflet.liquid %}
    {% include scripts/chartjs.liquid %}
    {% include scripts/echarts.liquid %}
    {% include scripts/vega.liquid %}
    {% include scripts/tikzjax.liquid %}
    {% include scripts/typograms.liquid %}
    {% include scripts/misc.liquid %}
    {% include scripts/badges.liquid %}
    {% include scripts/mathjax.liquid %}
    {% include scripts/pseudocode.liquid %}
    {% include scripts/analytics.liquid %}
    {% include scripts/progressBar.liquid %}
    {% include scripts/wechatModal.liquid %}
    {% include scripts/imageLayouts.liquid %}
    {% include scripts/jekyll_tabs.liquid %}
    {% include scripts/back_to_top.liquid %}
    {% include scripts/search.liquid %}
  </body>
</html>
